<nav class="navbar navbar-light bg-primary">
	<span class="navbar-brand mb-0 h1 text-white">VCard-QR</span>
</nav>
<div class="container">
	<div class="row">
		<router-outlet></router-outlet>
		<div class="col-12">
			<div class="text-center mb-5">
				Made with ♥ by <a href="https://gitlab.com/jgerstbe">jgerstbe</a>
			</div>
			<!-- <div class="text-center">
				<a class="text-decoration-none" href="https://zwonull.media">zwonull media</a> ©2019
			</div> -->
		</div>
	</div>
</div>