<div class="col-12">
	<form class="w-100">
    <!-- name -->
    <h4>Persönliche Daten</h4>
		<div class="form-group">
			<label for="firstName" class="bmd-label-floating">Vorname:</label>
			<input type="text" class="form-control" name="firstName" [(ngModel)]="vCard.firstName">
		</div>
		<div class="form-group">
			<label for="lastName" class="bmd-label-floating">Nachname:</label>
			<input type="text" class="form-control" name="lastName" [(ngModel)]="vCard.lastName">
		</div>
    <br>
    <!-- contact details -->
    <h4>Kontakt</h4>
		<div class="form-group">
			<label for="email" class="bmd-label-floating">E-Mail (Firma):</label>
			<input type="email" class="form-control" name="email" [(ngModel)]="vCard.workEmail">
		</div>
		<div class="form-group">
			<label for="workPhone" class="bmd-label-floating">Telefon (Firma):</label>
			<input type="workPhone" class="form-control" name="workPhone" [(ngModel)]="vCard.workPhone">
		</div>
		<div class="form-group">
			<label for="cellPhone" class="bmd-label-floating">Mobil:</label>
			<input type="cellPhone" class="form-control" name="cellPhone" [(ngModel)]="vCard.cellPhone">
		</div>
		<div class="form-group">
			<label for="url" class="bmd-label-floating">Website:</label>
			<input type="url" class="form-control" name="url" [(ngModel)]="vCard.url">
		</div>
    <br>
    <!-- company -->
    <h4>Firma</h4>
		<div class="form-group">
			<label for="organization" class="bmd-label-floating">Firmenname:</label>
			<input type="organization" class="form-control" name="organization" [(ngModel)]="vCard.organization">
		</div>
		<div class="form-group">
			<label for="title" class="bmd-label-floating">Position:</label>
			<input type="title" class="form-control" name="title" [(ngModel)]="vCard.title">
		</div>
    <br>
    <!-- address -->
    <h5>Firmenanschrift</h5>
		<div class="form-group">
			<label for="workAddress.street" class="bmd-label-floating">Straße:</label>
			<input type="workAddress.street" class="form-control" name="workAddress.street" [(ngModel)]="vCard.workAddress.street">
		</div>
		<div class="form-group">
			<label for="workAddress.city" class="bmd-label-floating">Stadt:</label>
			<input type="workAddress.city" class="form-control" name="workAddress.city" [(ngModel)]="vCard.workAddress.city">
		</div>
		<div class="form-group">
			<label for="workAddress.postalCode" class="bmd-label-floating">PLZ:</label>
			<input type="workAddress.postalCode" class="form-control" name="workAddress.postalCode" [(ngModel)]="vCard.workAddress.postalCode">
		</div>
		<div class="form-group">
			<label for="workAddress.stateProvince" class="bmd-label-floating">Bundesland/Provinz:</label>
			<input type="workAddress.stateProvince" class="form-control" name="workAddress.stateProvince" [(ngModel)]="vCard.workAddress.stateProvince">
		</div>
		<div class="form-group">
			<label for="workAddress.countryRegion" class="bmd-label-floating">Land:</label>
			<input type="workAddress.countryRegion" class="form-control" name="workAddress.countryRegion" [(ngModel)]="vCard.workAddress.countryRegion">
		</div>
    <br><br>
		<button type="submit" class="btn btn-primary btn-raised" (click)="generateQr()">
      Erstellen
    </button>
	</form>
</div>

<!-- Modal -->
<ng-template #qrModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Ihr QR-Code wurde erstellt!</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<div class="modal-body">
		<p class="text-center">
			<canvas id="qrCanvas"></canvas>
		</p>
		<button type="button" class="btn btn-primary" (click)="download('SVG')">Download (SVG)</button>
		<button type="button" class="btn btn-primary" (click)="download('PNG')">Download (PNG)</button>
		<button type="button" class="btn btn-primary" (click)="download('vcf')">Download (VCF)</button>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="modal.close('Schließen')">Schließen</button>
	</div>
</ng-template>

<!-- Modal -->
<ng-template #alertModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ error.title }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<div class="modal-body">
		<p>{{ error.message }}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="modal.close('Schließen')">Schließen</button>
	</div>
</ng-template>
